<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dllo.food">

    <!--添加网络权限-->
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">

        <!--启动 和 主页 -->
        <activity android:name=".StartActivity">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".banner.TestActivity" />

        <!--食物百科 相关-->
        <activity android:name=".library.search.SearchActivity">

        </activity>

        <activity android:name=".library.CompareActivity"/>
        <activity android:name=".library.more.LibraryMoreActivity"/>

        <!--逛吃相关-->
        <activity android:name=".eat.evaluate.EvaluateMoreActivity"/>
        <activity android:name=".eat.homepage.HomePageMoreFirstActivity"/>
        <activity android:name=".eat.homepage.HomePageMoreActivity"/>

        <!--我的中 设置 和 登录-->
        <activity android:name=".my.SettingActivity" />
        <activity android:name=".my.LoginActivity" />



    </application>

</manifest>