<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dllo.food">

    <!--添加网络权限-->
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">

        <!--启动 和 主页 -->
        <activity android:name=".StartActivity">

        </activity>
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".banner.TestActivity" />

        <!--食物百科 相关-->
        <activity android:name=".library.search.SearchActivity"
            android:launchMode="singleTop">

        </activity>

        <activity android:name=".library.CompareActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".library.more.LibraryMoreActivity"
            android:launchMode="singleTop"/>

        <!--逛吃相关-->
        <activity android:name=".eat.evaluate.EvaluateMoreActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".eat.homepage.HomePageMoreFirstActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".eat.homepage.HomePageMoreActivity"
            android:launchMode="singleTop"/>

        <!--我的中 设置 和 登录-->
        <activity android:name=".my.SettingActivity" />
        <activity android:name=".my.LoginActivity" />
        <activity android:name=".my.collection.CollectionActivity"/>
        <activity android:name=".my.MyLoginActivity"/>
        <activity android:name=".my.MyRegisterActivity"/>


    </application>

</manifest>